version: '2.2'

services:

  db:
    image: postgres:16.1
    ports:
      - "5432:5432"
#    expose:
#      - 5432
    restart: always
    environment:
      # Add a .env file with this variable set
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}

  db_test:
    image: postgres:16.1
    ports:
      - "5433:5432"
    restart: always
    environment:
      # Add a .env file with this variable set
      POSTGRES_PASSWORD: ${POSTGRES_TEST_PASSWORD}
